@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http
@using CMS.Models
@using Microsoft.AspNetCore.Mvc.Routing
@model CMS.Models.CandidateListViewModel
@*@model List<CMS.Models.CandidateMasterEntity>*@
@*@model CMS.Models.AllPaginationModel *@ 
@inject IHttpContextAccessor HttpContextAccessor
@{
	ViewBag.Title = "Interviewer List";


	//string create_User = HttpContextAccessor.HttpContext.Session.GetString("create_User");
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
<link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
<link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">
<style type="text/css">
	.btn-primary {
		width: 45px;
		height: 30px;
		padding: 0; /* optional: removes padding inside button */
	}

	.btn1.btn-primary {
		width: 98px;
		height: 35px;
		padding: 0; /* optional: removes padding inside button */
	}

	.btn.btn-deep-blue {
		position: right;
		background-color: #0047ab;
		color: #fff;
		/* border: 1px solid #ADD8E6;*/
		padding: 10px 20px;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
		/*color :#ADD8E6;*/
	}

	.modal-header .close {
		font-size: 20px;
	}

	.modal-body {
		text-align: left;
	}

	.right-align {
		text-align: left;
	}

	iframe {
		display: block;
		margin: 0 auto;
	}
</style>

<div class="col-xl-12 col-md-12">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="card table-card">
		<div class="card-header">
			<h5>Candidate List</h5>
			
		</div>
		<div class="card-block">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-center">First Name</th>
							<th class="text-center">Last Name</th>
							<th class="text-center">Email</th>
							<th class="text-center">Technology</th>
							<th class="text-center">Resume</th>
							<th class="text-center">Experience</th>
							<th></th> <!-- Add a blank column for the action buttons -->
						</tr>
					</thead>
					<tbody>
						@foreach (var data in Model.Candidates)
						{
							<tr>
								<td class="text-center">@data.firstName</td>
								<td class="text-center">@data.lastName</td>
								<td class="text-center">@data.Email</td>
								<td class="text-center">@data.TechnologyName</td>
								<td class="text-center">
									<button type="button" data-toggle="modal" data-target="#viewModalCenter_@data.CandidateId">View Resume </button>
									<div class="text-center">
										<div id="viewModalCenter_@data.CandidateId" class="modal fade">
											<div class="modal-dialog modal-lg">
												<div class="modal-content" style="width:100%; height:50%;">
													@*<div class="modal-header flex-column-vertical">
														<h4 class="modal-title w-100" style="vertical-align: middle;">Resume</h4>
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													</div>*@

													<iframe src="data:application/pdf;base64,@data.resume" style="width:1000px; height:600px;" align="middle" scrolling="no" id="target"></iframe>

												</div>
											</div>
										</div>
									</div>
								</td>
								<td class="text-center">
									@(data.AgreeForChangeLocation ? "Yes" : "No")
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
            <!-- Pagination controls -->
            <div class="pagination-container">
                @if (Model != null && Model.PaginationModel.TotalPages >= 1)
                {
                    <nav aria-label="Page navigation" class="text-right">
                        <ul class="pagination justify-content-end">
                            <li class="page-item @(Model.PaginationModel.CurrentPage == 1 ? "disabled" : "")">
                                <a class="page-link" href="/Candidate/AllCandidatelist?pageNumber=@(Model.PaginationModel.CurrentPage - 1)&pageSize=@Model.PaginationModel.PageSize" aria-label="Previous">
                                    Previous
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="/Candidate/AllCandidatelist?pageNumber=1&pageSize=@Model.PaginationModel.PageSize">First</a>
                            </li>
                            @for (int i = 1; i <= Model.PaginationModel.TotalPages; i++)
                            {
                                <li class="page-item @(i == Model.PaginationModel.CurrentPage ? "active" : "")">
                                    <a class="page-link" href="/Candidate/AllCandidatelist?pageNumber=@i&pageSize=@Model.PaginationModel.PageSize">@i</a>
                                </li>
                            }
                            <li class="page-item @(Model.PaginationModel.CurrentPage == Model.PaginationModel.TotalPages ? "disabled" : "")">
                                <a class="page-link" href="/Candidate/AllCandidatelist?pageNumber=@Model.PaginationModel.TotalPages&pageSize=@Model.PaginationModel.PageSize" aria-label="Last">
                                    Last
                                </a>
                            </li>
                            <li class="page-item @(Model.PaginationModel.CurrentPage == Model.PaginationModel.TotalPages ? "disabled" : "")">
                                <a class="page-link" href="/Candidate/AllCandidatelist?pageNumber=@(Model.PaginationModel.CurrentPage + 1)&pageSize=@Model.PaginationModel.PageSize" aria-label="Next">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </nav>
                }
            </div>
		</div>
	</div>
</div>
