@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using CMS.Constants;
@using CMS.ApplicationHelpers;
@model List<CMS.Models.InterviewModel>
@inject IHttpContextAccessor HttpContextAccessor
@using CMS.Models;
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    ViewBag.Title = "Interview List";

    //string create_User = HttpContextAccessor.HttpContext.Session.GetString("create_User");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
<link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
<link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">
<style type="text/css">
    .btn-primary {
        width: 45px;
        height: 30px;
        padding: 0; /* optional: removes padding inside button */
    }

    .form-check-input[type="radio"] {
        width: 10px;
        height: 10px;
        margin-top: 2px;
        position: relative;
        margin-left: 10px;
    }

    .btn1.btn-primary {
        width: 98px;
        height: 35px;
        padding: 0; /* optional: removes padding inside button */
    }

    .btn.btn-deep-blue {
        position: right;
        background-color: #0047ab;
        color: #fff;
        /* border: 1px solid #ADD8E6;*/
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        /*color :#ADD8E6;*/
    }

    .modal-header .close {
        font-size: 20px;
    }

    .modal-body {
        text-align: left;
    }

    .right-align {
        text-align: left;
    }
</style>
<div class="col-xl-12 col-md-12">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card table-card">
        <div class="card-header">
            <h5>Interview List</h5>
            <div class="card-header-right">
                <button type="button" class="btn1 btn-primary" width="10px" height="10px" data-toggle="modal" data-target="#exampleModalCenter" onclick="clearModal()">
                    Create New
                </button>
                @*Add Interview--pop box*@
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h4 class="modal-title w-100 font-weight-bold">Create New Interview</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body mx-3">
                                    <label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
                                        <span class="modal-text w-100  font-weight-bold " style="vertical-align: middle; font-size: 1.2em; color: grey;">Candidate Name</span>
                                    </label>
                                    <select class="form-control validate candidate-dropdown" required id="candidateId">
                                        <option value="" disabled selected>Select Candidate</option>
                                        @foreach (var candidate in ViewBag.CandidateMasterList)
                                        {
                                            <option value="@candidate.CandidateId">@candidate.firstName @candidate.lastName</option>
                                        }
                                    </select>
                                    <span asp-validation-for="CandidateId" class="text-danger" id="candidateIdError"></span>
                                </div>

                                <div class="modal-body mx-3">
                                    <label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
                                        <span class="modal-text w-100  font-weight-bold " style="vertical-align: middle; font-size: 1.2em; color: grey;">Interviewer Name</span>
                                    </label>
                                    <select class="form-control validate interviewer-dropdown" required id="interviewerId">
                                        <option value="" disabled selected>Select Interviewer</option>
                                        @foreach (var interviewer in ViewBag.InterviewerList)
                                        {
                                            <option value="@interviewer.InterviewerId">@interviewer.FirstName @interviewer.LastName</option>
                                        }
                                    </select>
                                    <span asp-validation-for="InterviewerId" class="text-danger" id="interviewerIdError"></span>
                                </div>

                                <div class="modal-body mx-3">
                                    <label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
                                        <span class="modal-text w-100 font-weight-bold" style="vertical-align: middle; font-size: 1.2em; color: grey;">Technology</span>
                                    </label>
                                    <select class="form-control validate technology-dropdown" required id="technology">
                                        <option value="" disabled selected>Select technology</option>
                                        @foreach (var technology in ViewBag.TechnologyList)
                                        {
                                            <option value="@technology.TechnologyId">@technology.TechnologyName</option>
                                        }
                                    </select>
                                    <span asp-validation-for="technology" class="text-danger" id="technologyError"></span>
                                </div>

                                <div class="modal-body mx-3">
                                    <label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
                                        <span class="modal-text w-100 font-weight-bold" style="vertical-align: middle; font-size: 1.2em; color: grey;">Is interview Online?</span>
                                    </label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="isOnline" id="isOnlineYes" value="true" onclick="showInterviewURLField()" required>
                                        <label class="form-check-label" for="isOnlineYes"> Yes </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="isOnline" id="isOnlineNo" value="false" onclick="hideInterviewURLField()">
                                        <label class="form-check-label" for="isOnlineNo"> No </label>
                                    </div>
                                    <span asp-validation-for="IsOnline" class="text-danger" id="isOnlineError"></span>
                                </div>

                                <div class="modal-body mx-3" id="interviewURLField" style="display: none;">
                                    <label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
                                        <span class="modal-text w-100  font-weight-bold " style="vertical-align: middle; font-size: 1.2em; color: grey;">Interview URL</span>
                                    </label>
                                    <input asp-for="InterviewURL" type="url" id="interviewURL" class="form-control validate">
                                    <span asp-validation-for="InterviewURL" class="text-danger" id="interviewURLError"></span>
                                </div>

                                <div class="modal-body mx-3">
                                    <label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
                                        <span class="modal-text w-100 font-weight-bold" style="vertical-align: middle; font-size: 1.2em; color: grey;">Scheduled time</span>
                                    </label>
                                    <input asp-for="ScheduledTime" type="datetime-local" id="scheduledTime" class="form-control validate" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")">
                                    <span asp-validation-for="ScheduledTime" class="text-danger" id="scheduledTimeError"></span>
                                </div>

                                <div class="modal-body mx-3">
                                    <label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
                                        <span class="modal-text w-100  font-weight-bold " style="vertical-align: middle; font-size: 1.2em; color: grey;">Status</span>
                                    </label>
                                    <input asp-for="StatusID" type="text" id="statusID" value="Scheduled" class="form-control validate" readonly>
                                    <span asp-validation-for="StatusID" class="text-danger" id="StatusIDError"></span>
                                </div>

                                <div class="modal-body mx-3">
                                    <label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
                                        <span class="modal-text w-100 font-weight-bold" style="vertical-align: middle; font-size: 1.2em; color: grey;">Description</span>
                                    </label>
                                    <textarea asp-for="Description" id="description" class="form-control validate"></textarea>
                                    <span asp-validation-for="Description" class="text-danger" id="DescriptionError"></span>
                                </div>

                                <div class="modal-footer d-flex justify-content-center">
                                    <button class="btn btn-deep-blue" id="save-btn" > Save</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-block">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Candidate name</th>
                            <th class="text-center">Interviewer name</th>
                            <th class="text-center">Technology</th>
                            <th class="text-center">Online</th>
                            <th class="text-center">Interview URL</th>
                            <th class="text-center">Scheduled time</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model)
                        {
                            <tr>
                                <td class="text-center">@data.CandidateFName @data.CandidateLName</td>
                                <td class="text-center">@data.InterviewerFName @data.InterviewerLName</td>
                                <td class="text-center">@data.TechnologyName</td>
                                <td class="text-center">@(data.IsOnline ? "Yes" : "No")</td>
                                <td class="text-center">@data.InterviewURL</td>
                                <td class="text-center">@data.ScheduledTime</td>
                                <td class="text-center">@data.Status</td>
                                <td class="text-center">@data.Description</td>
                                <td class="text-center">@data.Reason</td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <button width="10px" height="10px" type="button" class="btn btn-primary light sharp" data-toggle="dropdown">
                                            <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24"></rect>
                                                    <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                                                    <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                                    <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                                                </g>
                                            </svg>
                                        </button>
                                        <div class="dropdown-menu">

                                            <button type="button" class="dropdown-item" data-toggle="modal" data-target="#UpdateModalCenter_@data.InterviewId">Edit</button>
                                            <button type="button" class="dropdown-item" data-toggle="modal" data-target="#myModal_@data.InterviewId">Delete</button>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <div id="myModal_@data.InterviewId" class="modal fade">
                                            <div class="modal-dialog modal-confirm">
                                                <div class="modal-content">
                                                    <div class="modal-header flex-column-vertical">
                                                        <h4 class="modal-title w-100" style="vertical-align: middle;">Are you sure?</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <input type="hidden" id="deleteInterviewId_@data.InterviewId" value="@data.InterviewId" class="form-control ">
                                                        <p>Do you really want to delete these record? This process cannot be undone.</p>
                                                    </div>
                                                    <div class="modal-footer justify-content-center">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        <button type="button" onclick="deletefunction(@data.InterviewId)" class="btn btn-danger" id="delete-btn">Delete</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Update Popup-->

                                    <div class="modal fade" id="UpdateModalCenter_@data.InterviewId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header text-center">
                                                        <h4 class="modal-title w-100 font-weight-bold">Edit Interview</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <input type="hidden" id="updateinterviewid_@data.InterviewId" value="@data.InterviewId" class="form-control validate" readonly>

                                                        <div class="modal-body">
                                                            <label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
                                                                <span class="modal-text w-100  font-weight-bold " style="vertical-align: middle; font-size: 1.2em; color: grey;">Candidate Name</span>
                                                            </label>
                                                            <select class="form-control validate candidate-dropdown" required selected="@data.CandidateId" id="candidateId_@data.InterviewId">
                                                                <option value="" disabled selected>Select Candidate</option>
                                                                @foreach (var candidate in ViewBag.CandidateMasterList)
                                                                {
                                                                    <option value="@candidate.CandidateId" @(candidate.CandidateId == data.CandidateId ? "selected" : "")>@candidate.firstName @candidate.lastName</option>
                                                                }
                                                            </select>
                                                            <span asp-validation-for="CandidateId" class="text-danger" id="candidateIdError_@data.InterviewId"></span>
                                                        </div>

                                                        <div class="modal-body">
                                                            <label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
                                                                <span class="modal-text w-100  font-weight-bold " style="vertical-align: middle; font-size: 1.2em; color: grey;">Interviewer Name</span>
                                                            </label>
                                                            <select class="form-control validate interviewer-dropdown" required selected="@data.InterviewerId" id="interviewerId_@data.InterviewId">
                                                                <option value="" disabled selected>Select Interviewer</option>
                                                                @foreach (var interviewer in ViewBag.InterviewerList)
                                                                {

                                                                    <option value="@interviewer.InterviewerId" @(interviewer.InterviewerId == data.InterviewerId ? "selected" : "")>@interviewer.FirstName @interviewer.LastName</option>
                                                                }
                                                            </select>
                                                            <span asp-validation-for="InterviewerId" class="text-danger" id="interviewerIdError_@data.InterviewId"></span>
                                                        </div>

                                                        <div class="modal-body">
                                                            <label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
                                                                <span class="modal-text w-100 font-weight-bold" style="vertical-align: middle; font-size: 1.2em; color: grey;">Technology</span>
                                                            </label>
                                                            <select class="form-control validate technology-dropdown" required selected="@data.TechnologyId" id="technology_@data.InterviewId">
                                                                <option value="" disabled selected>Select technology</option>
                                                                @foreach (var technology in ViewBag.TechnologyList)
                                                                {
                                                                    <option value="@technology.TechnologyId" @(technology.TechnologyId == data.TechnologyId ? "selected" : "")>@technology.TechnologyName</option>
                                                                }
                                                            </select>
                                                            <span asp-validation-for="technology" class="text-danger" id="technologyError_@data.InterviewId"></span>
                                                        </div>

                                                        <div class="modal-body">
                                                            <label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
                                                                <span class="modal-text w-100 font-weight-bold" style="vertical-align: middle; font-size: 1.2em; color: grey;">Is interview Online?</span>
                                                            </label>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="isOnline_@data.InterviewId" id="isOnlineYes_@data.InterviewId" value="true" checked="@data.IsOnline" onclick="showInterviewURLField(@data.InterviewId)" />
                                                                <label class="form-check-label" for="isOnlineYes_@data.InterviewId"> Yes </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="isOnline_@data.InterviewId" id="isOnlineNo_@data.InterviewId" value="false" checked="@(data.IsOnline ? false : true)" onclick="hideInterviewURLField(@data.InterviewId)" />
                                                                <label class="form-check-label" for="isOnlineNo_@data.InterviewId"> No </label>
                                                            </div>
                                                            <span asp-validation-for="IsOnline" class="text-danger" id="isOnlineError_@data.InterviewId"></span>
                                                        </div>

                                                        <div class="modal-body" id="interviewURLField_@data.InterviewId">
                                                            <label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
                                                                <span class="modal-text w-100  font-weight-bold " style="vertical-align: middle; font-size: 1.2em; color: grey;">Interview URL</span>
                                                            </label>
                                                            <input asp-for="InterviewURL" type="url" id="interviewURL_@data.InterviewId" value="@data.InterviewURL" class="form-control validate">
                                                            <span asp-validation-for="InterviewURL" class="text-danger" id="interviewURLError_@data.InterviewId"></span>
                                                        </div>

                                                        <div class="modal-body">
                                                            <label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
                                                                <span class="modal-text w-100 font-weight-bold" style="vertical-align: middle; font-size: 1.2em; color: grey;">Scheduled time</span>
                                                            </label>
                                                            <input asp-for="ScheduledTime" type="datetime-local" id="scheduledTime_@data.InterviewId" value="@data.ScheduledTime.ToString("yyyy-MM-ddTHH:mm:ss")" class="form-control validate" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")">
                                                            <span asp-validation-for="ScheduledTime" class="text-danger" id="scheduledTimeError_@data.InterviewId"></span>
                                                        </div>

                                                        <div class="modal-body">
                                                            <label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
                                                                <span class="modal-text w-100  font-weight-bold " style="vertical-align: middle; font-size: 1.2em; color: grey;">Status</span>
                                                            </label>
                                                            <select class="form-control validate technology-dropdown" required selected="@data.StatusID" id="statusID_@data.InterviewId">
                                                                <option value="" disabled selected>Select status</option>
                                                                @foreach (var statusID in ViewBag.InterviewStatusList)
                                                                {
                                                                    <option value="@statusID.StatusID" @(statusID.StatusID == data.StatusID ? "selected" : "")>@statusID.Name</option>
                                                                }
                                                            </select>
                                                            <span asp-validation-for="StatusID" class="text-danger" id="statusIDError_@data.InterviewId"></span>
                                                        </div>

                                                        <div class="modal-body">
                                                            <label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
                                                                <span class="modal-text w-100 font-weight-bold" style="vertical-align: middle; font-size: 1.2em; color: grey;">Description</span>
                                                            </label>
                                                            <textarea asp-for="Description" id="description_@data.InterviewId" class="form-control validate">@data.Description</textarea>
                                                            <span asp-validation-for="Description" class="text-danger" id="descriptionError_@data.InterviewId"></span>
                                                        </div>

                                                        <div class="modal-body">
                                                            <label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
                                                                <span class="modal-text w-100 font-weight-bold" style="vertical-align: middle; font-size: 1.2em; color: grey;">Reason</span>
                                                            </label>
                                                            <select class="form-control validate reason-dropdown" required selected="@data.ReasonID" id="reason_@data.InterviewId">
                                                                <option value="" disabled selected>Select Reason</option>
                                                                @foreach (var reason in ViewBag.ReasonList)
                                                                {
                                                                    <option value="@reason.ReasonID" @(reason.ReasonID == data.ReasonID ? "selected" : "")>@reason.Reason</option>
                                                                }
                                                            </select>
                                                            <span asp-validation-for="reason" class="text-danger" id="reasonError_@data.InterviewId"></span>
                                                        </div>
                                                    </div>

                                                    <div class="modal-footer d-flex justify-content-center">
                                                        <button class="btn btn-deep-blue" id="edit-btn" onclick="updatefunction(@data.InterviewId)"> Edit </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-right m-r-20">
                    <a href="#!" class=" b-b-primary text-primary">View all Task</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        function clearModal() {
            // Clear the input field values
            $("#candidateId").val('');
            $("#interviewerId").val('');
            $("#technology").val('');
            $("input[name=isOnline]").prop('checked', false);
            $("#interviewURL").val('');
            $("#scheduledTime").val('');
            $("#description").val('');
        }

        function showInterviewURLField() {
            document.getElementById("interviewURLField").style.display = "block";
        }
        function hideInterviewURLField() {
            document.getElementById("interviewURLField").style.display = "none";
        }

        function validateForm() {
            var isOnline = document.getElementsByName("isOnline");
            var checkedOption = false;

            for (var i = 0; i < isOnline.length; i++) {
                if (isOnline[i].checked) {
                    checkedOption = true;
                    break;
                }
            }

            if (!checkedOption) {
                $('#isOnlineError').text('Please select one option.');
                // Set up an event listener to clear the error message when a radio button is clicked
                $('input[name="isOnline"]').on('click', function () {
                    $('#isOnlineError').text('');
                });
                return false;
            }
            return true;
        }

        
        $(function () {
            $("#save-btn").click(function () {
                debugger
                // Get the values from the form fields
                var candidateId = $("#candidateId").val();
                var interviewerId = $("#interviewerId").val();
                var technology = $("#technology").val();
                var isOnline = $("input[name=isOnline]:checked").val() == "true";
                var interviewURL = $("#interviewURL").val();
                var scheduledTime = $("#scheduledTime").val();
                var statusId = $("#statusID").val();
                var description = $("#description").val();
                var selectedTime = new Date(scheduledTime);
                var urlRegex = /^(ftp|http|https):\/\/[^ "]+$/;
               
                $('#candidateId').on('input', function () {
                    // Clear the error message when the field is not empty
                    if ($(this).val() !== '') {
                        $('#candidateIdError').text('');
                    }
                });
                $('#interviewerId').on('input', function () {
                    // Clear the error message when the field is not empty
                    if ($(this).val() !== '') {
                        $('#interviewerIdError').text('');
                    }
                });
                $('#technology').on('input', function () {
                    // Clear the error message when the field is not empty
                    if ($(this).val() !== '') {
                        $('#technologyError').text('');
                    }
                });
                $('input[name=isOnline]:checked').on('change', function () {
                    // Clear the error message when a value is selected
                    $('#isOnlineError').text('');
                });

                $('#interviewURL').on('input', function () {
                    // Clear the error message when the field is not empty
                    if ($(this).val() !== '') {
                        $('#interviewURLError').text('');
                    }
                });
                $('#scheduledTime').on('input', function () {
                    // Clear the error message when the field is not empty
                    if ($(this).val() !== '') {
                        $('#scheduledTimeError').text('');
                    }
                });
                $('#statusID').on('input', function () {
                    // Clear the error message when the field is not empty
                    if ($(this).val() !== '') {
                        $('#statusIDError').text('');
                    }
                });
                if ($("#candidateId").val() == null || $("#candidateId").val() == '') {
                    $('#candidateIdError').text('Please select a Candidate.');
                    return false;
                }
                if ($("#interviewerId").val() == null || $("#interviewerId").val() == '') {
                    $('#interviewerIdError').text('Please select a Interviewer.');
                    return false;
                }
                if ($("#technology").val() == null || $("#technology").val() == '') {
                    $('#technologyError').text('Please select a Technology.');
                    return false;
                }
                if (!validateForm()) {
                    return;
                }
                if (isOnline && interviewURL.trim() === "") {
                    $("#interviewURLError").text("Please enter the interview URL.");
                    return;
                }
                if (isOnline && (!interviewURL || !urlRegex.test(interviewURL))) {
                    $("#interviewURLError").text("Please enter a valid URL.");
                    return false;
                }
                if ($("#scheduledTime").val() == null || $("#scheduledTime").val() == '') {
                    $('#scheduledTimeError').text('Please select Date and Time.');
                    return false;
                }
                if (selectedTime < new Date()) {
                    $('#scheduledTimeError').text("Please select a future date and time for the interview.");
                    return;
                }
                if ($("#statusID").val() == null || $("#statusID").val() == '') {
                    $('#statusIDError').text('Please select a Status.');
                    return false;
                }

                // Make an AJAX call to the server to save the data
                $.ajax({
                    url: '/Interview/AddInterview',
                    method: 'POST',
                    data: {
                        CandidateId: candidateId,
                        InterviewerId: interviewerId,
                        TechnologyId: technology,
                        IsOnline: isOnline,
                        InterviewURL: interviewURL,
                        ScheduledTime: scheduledTime,
                        StatusID: statusId,
                        Description: description
                    },
                    success: function (response) {
                        if (response.success) {
                            // Display a success message
                            alert(response.message);
                            location.reload(true);
                        } else {
                            // Display an error message
                            alert("Error: " + response.message);
                            location.reload(true);
                        }
                    },
                    error: function (response) {
                        // Handle errors here
                        console.error(response);
                        alert('Error occurred while saving data');
                        location.reload(true);
                    }
                });
            });
        });

        function updatefunction(id) {
            var interviewId = $("#updateinterviewid_" + id).val();
            var candidateId = $("#candidateId_" + id).val();
            var interviewerId = $("#interviewerId_" + id).val();
            var technology = $("#technology_" + id).val();
            var isOnline = $("input[name=isOnline_" + id + "]:checked").val() == "true";
            var interviewURL = $("#interviewURL_" + id).val();
            var scheduledTime = $("#scheduledTime_" + id).val();
            var statusId = $("#statusID_" + id).val();
            var description = $("#description_" + id).val();
            var reason = $("#reason_" + id).val();
            var urlRegex = /^(ftp|http|https):\/\/[^ "]+$/;
            var selectedTime = new Date(scheduledTime);

            // Clear any existing errors
            $("#candidateIdError_" + id).text("");
            $("#interviewerIdError_" + id).text("");
            $("#technologyError_" + id).text("");
            $("#isOnlineError_" + id).text("");
            $("#interviewURLError_" + id).text("");
            $("#scheduledTimeError_" + id).text("");
            $("#statusIDError_" + id).text("");
            $("#descriptionError_" + id).text("");
            $("#reasonError_" + id).text("");

            // Add input listeners to clear errors on input change
            $("#candidateId_" + id).on("input", function () {
                $("#candidateIdError_" + id).text("");
            });
            $("#interviewerId_" + id).on("input", function () {
                $("#interviewerIdError_" + id).text("");
            });
            $("#technology_" + id).on("input", function () {
                $("#technologyError_" + id).text("");
            });
            $("#isOnline_" + id).on("input", function () {
                $("#isOnlineError_" + id).text("");
            });
            $("#isOnlineNo_" + id).on("change", function () {
                if ($(this).val() == "false") {
                    $("#interviewURLError_" + id).val("");
                }
            });
            $("#interviewURL_" + id).on("input", function () {
                $("#interviewURLError_" + id).text("");
            });
            $("#scheduledTime_" + id).on("input", function () {
                $("#scheduledTimeError_" + id).text("");
            });
            $("#statusID_" + id).on("input", function () {
                $("#statusIDError_" + id).text("");
            });
            $("#description_" + id).on("input", function () {
                $("#descriptionError_" + id).text("");
            });
            $("#reason_" + id).on("input", function () {
                $("#reason_Error_" + id).text("");
            });
            $("#edit-btn" + id).on("click", function () {
                $("#interviewURL_" + id).val("");
            });

            // Validate the form fields
            if (candidateId.trim() === "") {
                $("#candidateIdError_" + id).text("Please select a candidate.");
                return;
            }
            if (interviewerId.trim() === "") {
                $("#interviewerIdError_" + id).text("Please select an interviewer.");
                return;
            }
            if (technology.trim() === "") {
                $("#technologyError_" + id).text("Please select a technology.");
                return;
            }
            if (selectedTime < new Date()) {
                $("#scheduledTimeError_" + id).text("Please select a future date and time for the interview.");
                return;
            }
            if (scheduledTime.trim() === "") {
                $("#scheduledTimeError_" + id).text("Please select a date and time for the interview.");
                return;
            }
            if (isOnline && interviewURL.trim() === "") {
                $("#interviewURLError_" + id).text("Please enter the interview URL.");
                return;
            }
            if (isOnline && !urlRegex.test(interviewURL)) {
                $("#interviewURLError_" + id).text("Please enter a valid URL.");
                return;
            }
            if (reason.trim() === "") {
                $("#reasonError_" + id).text("Please select a reason.");
                return;
            }

            // Make an AJAX call to the server to update the interview details
            $.ajax({
                url: "/Interview/UpdateInterview",
                method: "PUT",
                data: {
                    InterviewId: interviewId,
                    CandidateId: candidateId,
                    InterviewerId: interviewerId,
                    TechnologyId: technology,
                    IsOnline: isOnline,
                    InterviewURL: (isOnline ? interviewURL : ""),
                    ScheduledTime: scheduledTime,
                    StatusID: statusId,
                    Description: description,
                    ReasonID: reason
                },
                success: function (response) {
                    if (response.success) {
                        // Display a success message
                        alert(response.message);
                        location.reload(true);
                    } else {
                        // Display an error message
                        alert("Error: " + response.message);
                        location.reload(true);
                    }
                },
                error: function (response) {
                    // Handle errors here
                    console.error(response);
                    alert('Error occurred while saving data');
                    location.reload(true);
                }
            });
        }

        function deletefunction(id) {
            var interviewId = $('#deleteInterviewId_' + id).val();

            $.ajax({
                url: '/Interview/DeleteInterview',
                method: 'PUT',
                data: {
                    InterviewId: interviewId,
                },
                success: function (response) {
                    console.log(response);
                    //$('#myModal_' + id).modal('hide');
                    alert(response.message);
                    location.reload();
                },
                error: function (response) {
                    console.error(errorthrown);
                }
            });
        }
    </script>