@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http
@model List<CMS.Models.InterviewerModel>
@inject IHttpContextAccessor HttpContextAccessor
@{
	ViewBag.Title = "Interviewer List";

	//string create_User = HttpContextAccessor.HttpContext.Session.GetString("create_User");
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
<link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
<link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">

<style type="text/css">

	.btn-primary {
		width: 45px;
		height: 30px;
		padding: 0; /* optional: removes padding inside button */
	}

	.btn1.btn-primary {
		width: 98px;
		height: 35px;
		padding: 0; /* optional: removes padding inside button */
	}

	.btn.btn-deep-blue {
		position: right;
		background-color: #0047ab;
		color: #fff;
		/* border: 1px solid #ADD8E6;*/
		padding: 10px 20px;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
		/*color :#ADD8E6;*/
	}

	.modal-header .close {
		font-size: 20px;
	}

	.modal-body {
		text-align: left;
	}

	.right-align {
		text-align: left;
	}

</style>

<div class="col-xl-12 col-md-12">
	
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="card table-card">
		<div class="card-header">
			<h5> Interviewer List </h5>
			<div class="card-header-right">

				<button type="button" class="btn1 btn-primary" width="10px" height="10px" data-toggle="modal" data-target="#exampleModalCenter" >
					Create New
				</button>
				
				@*Add Interviewer--pop box*@
				<div class="modal fade" id="exampleModalCenter"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header text-center">
									<h4 class="modal-title w-100 font-weight-bold">Create New Interviewer</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>

								<div class="modal-body mx-3">
									<label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">

										<span class="modal-text w-100  font-weight-bold " style="vertical-align: middle; font-size: 1.2em; color: grey;">First Name</span>
									</label>
									<input asp-for="firstName" type="text" id="firstName" class="form-control validate">

									<span asp-validation-for="firstName" class="text-danger" id="firstNameError"></span>
									
								</div>

								<div class="modal-body mx-3">
									<label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">

										<span class="modal-text w-100  font-weight-bold " style="vertical-align: middle; font-size: 1.2em; color: grey;">Last Name</span>
									</label>
									<input asp-for="lastName" type="text" id="lastName" class="form-control validate">

									<span asp-validation-for="lastName" class="text-danger" id="lastNameError"></span>

								</div>

								<div class="modal-body mx-3">
									<label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">

										<span class="modal-text w-100  font-weight-bold " style="vertical-align: middle; font-size: 1.2em; color: grey;">Email</span>
									</label>
									<input asp-for="email" type="text" id="email" class="form-control validate">

									<span asp-validation-for="email" class="text-danger" id="emailError"></span>

								</div>

								<div class="modal-body mx-3">
									<label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
										<span class="modal-text w-100 font-weight-bold" style="vertical-align: middle; font-size: 1.2em; color: grey;">Designation</span>
									</label>
									<select class="form-control validate designation-dropdown" required id="designation">
										<option value="" disabled selected>Select designation</option>
										@foreach (var designation in ViewBag.DesignationList)
										{
											<option  value="@designation.DesignationID">@designation.Designation</option>
										}
									</select>

									<span asp-validation-for="designation" class="text-danger" id="designationError"></span>

								</div>


								<div class="modal-body mx-3">
									<label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
										<span class="modal-text w-100 font-weight-bold" style="vertical-align: middle; font-size: 1.2em; color: grey;">Technology</span>
									</label>
									<select class="form-control validate technology-dropdown" required id="technology">
										<option value="" disabled selected>Select technology</option>
										@foreach (var technology in ViewBag.TechnologyList)
										{
											<option value="@technology.TechnologyId">@technology.TechnologyName</option>
										}
									</select>
									<span asp-validation-for="technology" class="text-danger" id="technologyError"></span>
								</div>

								<div class="modal-body mx-3">
									<label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">

										<span class="modal-text w-100  font-weight-bold " style="vertical-align: middle; font-size: 1.2em; color: grey;">Year of Experience</span>
									</label>
									<input asp-for="experience" type="text" id="experience" class="form-control validate">

									<span asp-validation-for="experience" class="text-danger" id="experienceError"></span>

								</div>

								<div class="modal-body mx-3">
									<label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">

										<span class="modal-text w-100  font-weight-bold " style="vertical-align: middle; font-size: 1.2em; color: grey;">Total Interviews Conducted</span>
									</label>
									<input asp-for="InterviewsConducted" type="text" id="InterviewsConducted" class="form-control validate">

									<span asp-validation-for="InterviewsConducted" class="text-danger" id="InterviewsConductedError"></span>

								</div>

								@*<input type="hidden" id="create_User" value="@create_User" class="form-control validate">*@

								<div class="modal-footer d-flex justify-content-center">
									<button class="btn btn-deep-blue" id="save-btn" > Save</button>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-block">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-center">First Name</th>
							<th class="text-center">Last Name</th>
							<th class="text-center">Email</th>
							<th class="text-center">Technology</th>
							<th class="text-center">Year of Experience</th>
							<th class="text-center">Designation</th>
							<th class="text-center">Total Interviews Conducted</th>
							<th></th> <!-- Add a blank column for the action buttons -->
						</tr>
					</thead>
					<tbody>
						@foreach (var data in Model)
						{
							<tr>
								@*<td class="text-center">
									<div class="d-inline-block align-middle">
										<div class="d-inline-block">
											<h6>@data.FirstName</h6>
										</div>
									</div>
								</td>*@
								
								<td class="text-center">@data.FirstName</td>
								<td class="text-center">@data.LastName</td>
								<td class="text-center">@data.Email</td>
								<td class="text-center">@data.TechnologyName</td>
								<td class="text-center">@data.YearOfExperience</td>
								<td class="text-center">@data.Designation</td>
								<td class="text-center">@data.TotalInterviewsConducted</td>
								<td class="text-right">
									<div class="dropdown">
										<button width="10px" height="10px" type="button" class="btn btn-primary light sharp" data-toggle="dropdown">
											<svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1">
												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
													<rect x="0" y="0" width="24" height="24"></rect>
													<circle fill="#000000" cx="5" cy="12" r="2"></circle>
													<circle fill="#000000" cx="12" cy="12" r="2"></circle>
													<circle fill="#000000" cx="19" cy="12" r="2"></circle>
												</g>
											</svg>
										</button>
										<div class="dropdown-menu">

											<button type="button" class="dropdown-item" data-toggle="modal" data-target="#UpdateModalCenter_@data.InterviewerId">Edit</button>
											<button type="button" class="dropdown-item" data-toggle="modal" data-target="#myModal_@data.InterviewerId">Delete</button>
										</div>
									</div>

									<div class="text-center">
										<div id="myModal_@data.InterviewerId" class="modal fade">
											<div class="modal-dialog modal-confirm">
												<div class="modal-content">
													<div class="modal-header flex-column-vertical">
														<h4 class="modal-title w-100" style="vertical-align: middle;">Are you sure?</h4>
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													</div>
													<div class="modal-body">
														<input type="hidden" id="deleteInterviewerId_@data.InterviewerId" value="@data.InterviewerId" class="form-control ">
														<p>Do you really want to delete these record? This process cannot be undone.</p>
													</div>
													<div class="modal-footer justify-content-center">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
														<button type="button" onclick="deletefunction(@data.InterviewerId)" class="btn btn-danger" id="delete-btn">Delete</button>

													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Update Popup-->

									<div class="modal fade" id="UpdateModalCenter_@data.InterviewerId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header text-center">
														<h4 class="modal-title w-100 font-weight-bold">Edit Interviewer</h4>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>

													<div class="modal-body">
														<input type="hidden" id="updateinterviewerid_@data.InterviewerId" value="@data.InterviewerId" class="form-control validate" readonly>

														<div class="modal-body">
															<label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">

																<span class="modal-text w-100  font-weight-bold " style="vertical-align: middle; font-size: 1.2em; color: grey;">First Name</span>
															</label>
															<input asp-for="firstName" type="text" id="firstName_@data.InterviewerId" value="@data.FirstName" class="form-control validate">

															<span asp-validation-for="firstName" class="text-danger" id="firstNameError_@data.InterviewerId"></span>

														</div>

														<div class="modal-body">
															<label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">

																<span class="modal-text w-100  font-weight-bold " style="vertical-align: middle; font-size: 1.2em; color: grey;">Last Name</span>
															</label>
															<input asp-for="lastName" type="text" id="lastName_@data.InterviewerId" value="@data.LastName" class="form-control validate">

															<span asp-validation-for="lastName" class="text-danger" id="lastNameError_@data.InterviewerId"></span>

														</div>

														<div class="modal-body">
															<label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">

																<span class="modal-text w-100  font-weight-bold " style="vertical-align: middle; font-size: 1.2em; color: grey;">Email</span>
															</label>
															<input asp-for="email" type="text" id="email_@data.InterviewerId" value ="@data.Email"class="form-control validate">

															<span asp-validation-for="email" class="text-danger" id="emailError_@data.InterviewerId"></span>

														</div>

														<div class="modal-body">
															<label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
																<span class="modal-text w-100 font-weight-bold" style="vertical-align: middle; font-size: 1.2em; color: grey;">Designation</span>
															</label>
															<select class="form-control validate designation-dropdown" required id="designation_@data.InterviewerId">
																<option value="" disabled>Select designation</option>
																@foreach (var designation in ViewBag.DesignationList)
																{
																	<option value="@designation.DesignationID" @(designation.DesignationID == data.DesignationId ? "selected" : "")>@designation.Designation</option>
																}
															</select>
															<span asp-validation-for="designation" class="text-danger" id="designationError_@data.InterviewerId"></span>
														</div>

														<div class="modal-body">
															<label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">
																<span class="modal-text w-100 font-weight-bold" style="vertical-align: middle; font-size: 1.2em; color: grey;">Technology</span>
															</label>
															<select class="form-control validate technology-dropdown" required selected="@data.TechnologyId" id="technology_@data.InterviewerId">
																<option value="" disabled selected>Select technology</option>
																@foreach (var technology in ViewBag.TechnologyList)
																{
																	<option value="@technology.TechnologyId" @(technology.TechnologyId == data.TechnologyId ? "selected" : "")>@technology.TechnologyName</option>
																}
															</select>
															<span asp-validation-for="technology" class="text-danger" id="technologyError_@data.InterviewerId"></span>
														</div>

														<div class="modal-body">
															<label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">

																<span class="modal-text w-100  font-weight-bold " style="vertical-align: middle; font-size: 1.2em; color: grey;">Year of Experience</span>
															</label>
															<input asp-for="experience" type="text" id="experience_@data.InterviewerId" value="@data.YearOfExperience" class="form-control validate">

															<span asp-validation-for="experience" class="text-danger" id="experienceError_@data.InterviewerId"></span>

														</div>

														<div class="modal-body">
															<label class="right-align" data-error="wrong" data-success="right" for="orangeForm-name">

																<span class="modal-text w-100  font-weight-bold " style="vertical-align: middle; font-size: 1.2em; color: grey;">Total Interviews Conducted</span>
															</label>
															<input asp-for="InterviewsConducted" type="text" id="InterviewsConducted_@data.InterviewerId" value="@data.TotalInterviewsConducted" class="form-control validate">

															<span asp-validation-for="InterviewsConducted" class="text-danger" id="InterviewsConductedError_@data.InterviewerId"></span>

														</div>
													</div>
													<div class="modal-footer d-flex justify-content-center">
														<button class="btn btn-deep-blue" id="edit-btn" onclick="updatefunction(@data.InterviewerId)"> Edit </button>
													</div>

												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
				<div class="text-right m-r-20">
					<a href="#!" class=" b-b-primary text-primary">View all Task</a>
				</div>
			</div>
		</div>
	</div>
</div>




@*Update Designation--pop box*@


<!--  project and team member end -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 
	<script>
		
		$(function () {
			// Add click event handler to the Save button
			$('#save-btn').click(function () {

				// Get the values of the input fields
				var firstName = $('#firstName').val();
				var lastName = $('#lastName').val();
				var email = $('#email').val();
				var designation = $('#designation').val();
				var technology = $('#technology').val();
				var experience = $('#experience').val();
				var interviewsConducted = $('#InterviewsConducted').val();

				$('#firstName').on('input', function () {
					// Clear the error message when the field is not empty
					if ($(this).val() !== '') {
						$('#firstNameError').text('');
					}
				});
				$('#lastName').on('input', function () {
					// Clear the error message when the field is not empty
					if ($(this).val() !== '') {
						$('#lastNameError').text('');
					}
				});
				$('#email').on('input', function () {
					// Clear the error message when the field is not empty
					if ($(this).val() !== '') {
						$('#emailError').text('');
					}
				});
				$('#designation').on('input', function () {
					// Clear the error message when the field is not empty
					if ($(this).val() !== '') {
						$('#designationError').text('');
					}
				});
				$('#technology').on('input', function () {
					// Clear the error message when the field is not empty
					if ($(this).val() !== '') {
						$('#technologyError').text('');
					}
				});
				$('#experience').on('input', function () {
					// Clear the error message when the field is not empty
					if ($(this).val() !== '') {
						$('#experienceError').text('');
					}
				});
				$('#InterviewsConducted').on('input', function () {
					// Clear the error message when the field is not empty
					if ($(this).val() !== '') {
						$('#InterviewsConductedError').text('');
					}
				});

				// Validate the input fields
			
				if (firstName.trim() === '' || !/^[a-zA-Z]+$/.test(firstName)) {
					$('#firstNameError').text('Please enter a valid first name without spaces, numbers or special characters.');
					return;
				}
				if (lastName.trim() === '' || !/^[a-zA-Z]+$/.test(lastName)) {
					$('#lastNameError').text('Please enter a valid last name without spaces, numbers or special characters.');
					return;
				}
				if (email.trim() === '') {
					$('#emailError').text('Please enter an email address.');
					return;
				} else if (!/^[^\s]+[^\s]+\.[^\s]+$/.test(email)) {
					$('#emailError').text('Please enter a valid email address.');
					return;
				}
				if ($('#designation').val() == null || $('#designation').val() == '') {
					$('#designationError').text('Please select a designation.');
					return false;
				}
				if ($('#technology').val() == null || $('#technology').val() == '') {
					$('#technologyError').text('Please select a technology.');
					return false;
				}
				if (experience.trim() === '' || isNaN(parseFloat(experience)) || parseFloat(experience) < 0) {
					$('#experienceError').text('Please enter a valid year of experience.');
					return;
				}
				if (interviewsConducted.trim() === '' || isNaN(interviewsConducted) || interviewsConducted < 0) {
					$('#InterviewsConductedError').text('Please enter a valid number of interviews conducted.');
					return;
				}

				// Send AJAX request
				$.ajax({
					url: '/Interviewer/AddInterviewerlist',
					method: 'POST',
					data: {
						FirstName: firstName,
						LastName: lastName,
						Email: email,
						DesignationId: designation,
						TechnologyId: technology,
						YearOfExperience: experience,
						TotalInterviewsConducted: interviewsConducted
					},

					success: function (response) {
						debugger
						 if (response.success) {
		     					// Display a success message
							alert(response.message);
							location.reload(true);
						} else {
							// Display an error message
							alert("Error: " + response.message);
							location.reload(true);
						}
					},
					error: function (xhr, status, error) {
						debugger
						// Handle any errors that occur during the request
						alert("An error occurred while processing the request. Please try again later.");
					}

					//success: function (response) {
					//	debugger
					//	// Handle the response data here
					//	console.log(response);
					//	if (response.success) {
					//		alert('Data saved successfully');
					//		location.reload(true);
					//	} 
					//	else {
					//		alert('Email address already exists');
					//		$('#emailError').text('Email address already exists');
					//		location.reload(true);
					//	}
					//},
					//error: function (response) {
					//	debugger
					// Handle errors here
					//	if (!response.IsSuccessful) {
					//		$('#emailError').text("Email already exists. Please try a different email.");
					//		return;
					//	}
					//	console.error(errorThrown);
					//}
					//error: function(jqXHR, textStatus, errorThrown) {
					//	console.error(jqXHR.responseText);
					//	console.error(textStatus);
					//	console.error(errorThrown);
					//	if (jqXHR.status == 400 && jqXHR.responseJSON && jqXHR.responseJSON.message == "Interviewer email IS ALREADY EXISTS") {
					//	alert('Email address already exists');
					//	$('#emailError').text('Email address already exists');
					//	} else {
					//	alert('Error occurred while saving data');
					//	}
					//	location.reload(true);
					//}
				});
			});
		});

		function updatefunction(id) {
			var InterviewerId = $('#updateinterviewerid_' + id).val();
			var FirstName = $('#firstName_' + id).val();
			var LastName = $('#lastName_' + id).val();
			var Email = $('#email_' + id).val();
			var Designation = $('#designation_' + id).val();
			var Technology = $('#technology_' + id).val();
			var YearOfExperience = $('#experience_' + id).val();
			var InterviewsConducted = $('#InterviewsConducted_' + id).val();

			$('#firstNameError_' + id).text('');
			$('#lastNameError_' + id).text('');
			$('#emailError_' + id).text('');
			$('#designationError_' + id).text('');
			$('#technologyError_' + id).text('');
			$('#experienceError_' + id).text('');
			$('#InterviewsConductedError_' + id).text('');

			$('#firstName_' + id).on('input', function () {
				$('#firstNameError_' + id).text('');
			});
			$('#lastName_' + id).on('input', function () {
				$('#lastNameError_' + id).text('');
			});
			$('#email_' + id).on('input', function () {
				$('#emailError_' + id).text('');
			});
			$('#designation_' + id).on('input', function () {
				$('#designationError_' + id).text('');
			});
			$('#technology_' + id).on('input', function () {
				$('#technologyError_' + id).text('');
			});
			$('#experience_' + id).on('input', function () {
				$('#experienceError_' + id).text('');
			});
			$('#InterviewsConducted_' + id).on('input', function () {
				$('#InterviewsConductedError_' + id).text('');
			});


			if (FirstName.trim() === '' || !/^[a-zA-Z]+$/.test(FirstName)) {
				$('#firstNameError_'+ id).text('Please enter a valid first name without spaces, numbers or special characters.');
				return;
			}
			if (LastName.trim() === '' || !/^[a-zA-Z]+$/.test(LastName)) {
				$('#lastNameError_'+ id).text('Please enter a valid last name without spaces, numbers or special characters.');
				return;
			}
			if (Email.trim() === '') {
				$('#emailError_'+ id).text('Please enter an email address.');
				return;
			} else if (!/^\S+\S+\.\S+$/.test(Email)) {
				$('#emailError_'+ id).text('Please enter a valid email address.');
				return;
			}
			if ($('#designation_'+id).val() == null || $('#designation_'+id).val() == '') {
				$('#designationError_'+id).text('Please select a designation.');
				return false;
			}
			if ($('#technology_'+id).val() == null || $('#technology_'+id).val() == '') {
				$('#technologyError_'+id).text('Please select a technology.');
				return false;
			}
			if (YearOfExperience.trim() === '' || isNaN(parseFloat(YearOfExperience)) || parseFloat(YearOfExperience) < 0) {
				$('#experienceError_' + id).text('Please enter a valid year of experience.');
				return;
			}
			if (InterviewsConducted.trim() === '' || isNaN(InterviewsConducted) || InterviewsConducted < 0) {
				$('#InterviewsConductedError_' + id).text('Please enter a valid number of interviews conducted.');
				return;
			}

			$.ajax({
				url: '/Interviewer/UpdateInterviewerlist',
				method: 'PUT',
				data: {
					InterviewerId: InterviewerId,
					FirstName: FirstName,
					LastName: LastName,
					Email: Email,
					DesignationId: Designation,
					TechnologyId: Technology,
					YearOfExperience: YearOfExperience,
					TotalInterviewsConducted: InterviewsConducted
				},
				success: function (response) {
					
					// Handle the response data here
					console.log(response);
					if (response.success) {
						alert('Data updated successfully');
						//$('#exampleModalCenter').modal('hide');
						location.reload(true);
					} else {
						alert('Data already exists');
					location.reload(true);
					}
				},
				error: function (response) {
					// Handle errors here
					console.error(response);
					alert('Error occurred while saving data');
				}
			});
		}
		
	
		function deletefunction(id) {
			var InterviewerId = $('#deleteInterviewerId_' + id).val();

			$.ajax({
				url: '/Interviewer/DeleteIntervieweritem',
				method: 'PUT',
				data: {
					InterviewerId: InterviewerId,
				},
				success: function (response) {
					console.log(response);
					//$('#myModal_' + id).modal('hide');
					alert(response.message);
					location.reload();
				},
				error: function (response) {
					console.error(errorthrown);
				}
			});
		}

	</script>